* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
 	background-blend-mode: normal, multiply;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'lato', sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer div{
  padding-bottom: 15px;
  font-family: 'lato', monospace;
}

/*------navbar-------*/

header {
  text-shadow: 1px 1px 5px black;

}
.nav{
  transition: all 0.5s ease-out;

}
.navbar-fixed {
  z-index: 999;
}
.sidenav{
  text-align: center;
  background: linear-gradient(to top, rgba(0,0,0,.2) 0%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.8) 75%);
}

.sidenav li>a{
  text-align: center;
  margin-left: 0;
  text-shadow: none;
  font-family: 'roboto';
  margin-top: 50px;
  color: #ccc;
  font-weight: bold;
}
.sidenav img{
  max-width: 100px;
  margin: 30px; auto;
}
#menu-icono{
  cursor: pointer;
}
.barra a{
  font-family: 'roboto';
}

.barra .activo {
  color: rgba(199, 161, 187);
  font-weight: bolder;
  text-shadow: .5px 1px 1px black;
}

/*------Parallax seccion 1-------*/

.bienvenido{
  font-family:'Lato', sans-serif;
  background: rgba(0,0,0,.8);
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.bienvenido h1 {
  margin-top: 150px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ccc;
  transition: all .8s linear;
  opacity: 1;
}
.aparece{
  animation: aparece 3s;
}
@keyframes aparece{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.bienvenido p {
  margin-top: 1%;
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  top: 43%;
  color: white;
  font-weight: lighter;
  opacity: 1;
  transition: .8s ease;
}
.parallax-1, .parallax-2, .parallax-3{
  position: relative;
  background: url(../img/computer.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  opacity: .8;
}


/*------------SOBRE MI-----------------*/
#sobre-mi{
  margin-top: 2%;
}

/*****ANIMACION ENLACES PANTALLAS PEQ*****/

.redes{
  position: relative;
  font-weight: bold;
}

.redes a i{
  color: #ccc;

}
.redes a i:hover{
  color: white;
  text-shadow: 5px -5px 5px black;
}
.redes a :hover {
  animation: icono .8s ease;
}
@keyframes icono {
  from{
    transform: rotate3d(0, 0, 0, 0);
  }
  to{
    transform: rotate3d(1,1,1,360deg);
  }
}
.datos{
  max-height: 400px;
  overflow: hidden;
  margin-top: 5%;
  background: rgba(0,0,0,.7);
}
.datos p, .datos2 p{
  font-size: 14px;
  font-family: 'open sans' sans-serif;
}
.datos .titulo{
  text-shadow: .5px .5px 1px black;
  font-family: 'roboto';
  font-size: 25px;
}
.datos2{
  border-radius: 3px;
  min-height: 300px;
  overflow: hidden;
  padding: 20px;
  background: rgba(0,0,0,.7);
}
.datos2 h3{
  margin-top: 1%;
  font-weight: 600;
  font-size: 25px;
  text-shadow: .5px .5px 1px black;
}
.img2{
  max-height: 200px;
  margin: 0 auto;
}

hr {
  text-decoration: none;
}
.objetivo {
  font-style: italic;
  font-size: 12px;
}
hr{
  margin-top: 15%;

}

/*********ANIMACION CUBO 3D PANTALLAS GRANDES********/

.animacion{
  position: flex;
  width: 100%;
  height: 30%;
  display: inline-block;
  margin-top: 20%;
}
.contenedor, .contenedor2{
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  perspective: 1000px;
  bottom: 4%;
  left: 45%;
  transform: translateX(-50%);

}
.contenedor2{
  left: 55%;
}
.cara {
  height: 40px;
  width: 40px;
  transform-style: preserve-3d;
  transition: 2s;
  position: relative;
}

.cara .item{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.cara .item-1{
  transform: rotateY(0deg) translateZ(20px);
}
.cara .item-2{
  transform: rotateX(90deg) translateZ(20px);
}
.cara .item-3{
  transform: rotateY(-180deg) translateZ(20px);
}
.cara .item-4{
  transform: rotateY(-90deg) translateZ(20px);
}
.cara .item-5{
  transform: rotateY(90deg) translateZ(20px);
}
.cara .item-6{
  transform: rotateX(-90deg) translateZ(20px);
}
.item a{
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #ccc;
  text-align: center;
  margin: 0;
  background: rgba(0,0,0,.3);
  border-radius: 10px;
  opacity: .8;
}
.item a i{
  margin-top: 7.5px;
  transition: all 1s ease;
}
.cara:hover{
  animation: rotar 7s infinite linear;
}
.cara:hover a{
  opacity: 1;
  background: rgba(0,0,0,.8);
}

@keyframes rotar {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/*------Parallax seccion 2-------*/
.lenguajes {
  margin-bottom: 5%;
}
.parallax-2 h3{
  font-family:'Lato', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ccc;
  transition: all .8s linear;
  background: rgba(0,0,0);
  margin: auto 5%;
  margin-top: 5%;
  border-radius: 3px;
  padding-bottom: 1%;
}
.parallax-2 .container a{
  margin: 5% auto;
  color: white;
  border-radius: 3px;
  display: block;
  max-width: 150px;
  text-align: center;
  opacity: 1;
  transition: all .3s ease-out;
}

.parallax-2 .container a:hover{
  animation: icono-2 .5s ease;
}
@keyframes icono-2 {
  from{
    transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.parallax-2 .container p {
  color: #ccc;
  font-weight: bold;
  font-family: monospace;
  background: rgba(0,0,0);
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
  opacity: 1;
  transition: all .3s ease;
}
.parallax-2 .container .lenguajes a i {
  font-size: 80px;
  padding: 20px;
  border-radius: 3px;
  text-align: center;
}
.fa-css3-alt, .fa-bootstrap {background: white;}
.fa-js {background: black;}
.fa-html5 {background: white; color: #e44d26}
.materialize {width: 100px; border-radius: 3px;}
.muuri {width: 100px; background: white; border-radius: 3px;}
.jquery {width: 100px; background: white; border-radius: 3px;}

}



/*------Algunos traabajos-------*/

main .slider{
}

/*carousel*/
main .slider {
  height: auto;

  background: url(../img/computer2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel {
  width: auto;
  min-height: 300px;
  margin: 20px 0;
  background: rgba(0,0,0,.7);
  border-radius: 10px;

}
.carousel .carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0;
  align-items: center;
  width: 300px;
  height: 400px;
  opacity: 1;
}

.carousel .carousel-item img{
  width: 100%;
  height: 75%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 1px -1px 15px white;
}
.carousel h4 {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    font-weight: bolder;
    text-shadow: .5px .5px 3px rgba(255, 255, 255,.8);
    cursor: pointer;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    width: 100%;
}
.carousel p {
    text-decoration: none;
    margin: 7px 0;
    font-size: 20px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.8);
    font-family:  sans-serif;
    margin-top: 0;

    width: 100%;
    border-radius: 0 0 15px 15px ;
}
.carousel p a{
  color: #ccc;
  font-family: 'roboto', cursive;
  padding: 3px;
  cursor: pointer;
}



/*MEDIA QUERY*/

@media screen and (max-width: 800px) {
  .nav a{
    font-size: 20px;
  }
  .bienvenido h1{
    font-size: 50px;

  }
  .bienvenido p {
    font-size: 15px;
    margin-top: 5%;
    width: 80%;
  }
  .img2{
    padding: 0;
  }
  .datos2 {
    text-align: center;
  }
  .datos h2{
    font-size: 20px;
    margin-top: 1%;
  }

  .datos2 p{
    font-size: 13px;
    margin-top: 0;
    text-shadow: 1px 1px 1px black;
  }
  .animacion {
    margin-top: 15%;
  }

  .redes a{
    margin: 10px;
    font-size: 20px;
  }
  .datos .redes a{
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {

  .bienvenido h1{
    font-size: 45px;
    margin-top: 180px;
  }
  .bienvenido p {
    font-size: 15px;
  }

  .img img{
    margin: 10px;
  }
  .animacion {
    margin-top: 10%;
  }

    .redes a{
      margin: 10px;
      font-size: 20px;
    }
    .datos .redes a{
      font-size: 14px;
    }
    .seccion-datos hr{
      display: none;
    }
}

@media screen and (max-width: 500px) {

  .bienvenido h1{
    font-size: 45px;
    margin-top: 180px;
  }
  .bienvenido p {
    font-size: 15px;
  }

  .nav a{
    font-size: 17px;
    font-weight: 600;
  }
  .bienvenido h1{
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {

    .bienvenido h1{
      font-size: 25px;
      margin-top: 180px;
      font-weight: bolder;

    }
    .bienvenido p {
      font-size: 12px;
      font-weight: bold;
    }

    .redes a{
        margin: 10px;
        font-size: 20px;
    }
    .datos .redes a{
        font-size: 14px;
    }
    .nav p{
      font-size: 17px;
      font-weight: 600;
    }
    .parallax-2 .container a{
      animation: icono-3 7s infinite;
    }
    @keyframes icono-3 {
      from{
        transform: rotateX(0deg) rotateY(0deg);
      }
      to{
        transform: rotateX(0deg) rotateY(380deg);
      }
    }

}
