* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
 	background-blend-mode: normal, multiply;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  min-height: 1000px;
  width: 100%;
}
/*------navbar-------*/

header {
  text-shadow: 1px 1px 5px black;

}
.nav{
  transition: all 0.5s ease-out;
}

/*------Parallax seccion 1-------*/

.bienvenido{
  font-family:'Lato', sans-serif;
  background: rgba(0,0,0,.8);
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;


}
.bienvenido h1 {
  margin-top: 10%;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ccc;
  transition: all .8s linear;
  opacity: 0;
}
.bienvenido p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  top: 43%;
  color: white;
  font-weight: lighter;
  opacity: 0;
  transition: .8s ease;

}
.parallax-1, .parallax-2{
  position: relative;
  background: url(../img/computer.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  opacity: .8;
}


/*SOBRE MI*/
#sobre-mi{
  margin-top: 2%;
}

/*.redes{
  position: relative;
  font-weight: bold;
}

.redes a i{
  color: #ccc;

}
.redes a i:hover{
  color: white;
}
.redes a :hover {
  animation: icono .8s ease;
}
@keyframes icono {
  from{
    transform: rotate3d(0, 0, 0, 0);
  }
  to{
    transform: rotate3d(1,1,1,360deg);
  }
}*/
.datos{
  max-height: 400px;
  overflow: hidden;
  margin-top: 5%;
  background: rgba(0,0,0,.7);
}
.datos p, .datos2 p{
  font-size: 14px;
  font-family: 'open sans' sans-serif;
}
.datos .titulo{
  text-shadow: .5px .5px 1px black;
  font-family: 'roboto';
  font-size: 25px;
}
.datos2{
  border-radius: 3px;
  min-height: 300px;
  overflow: hidden;
  padding: 20px;
  background: rgba(0,0,0,.7);
}
.datos2 h3{
  margin-top: 1%;
  font-weight: 600;
  font-size: 25px;
  text-shadow: .5px .5px 1px black;
}
.img2{
  max-height: 200px;
  margin: 0 auto;
}

hr {
  text-decoration: none;
}
.objetivo {
  font-style: italic;
  font-size: 12px;
}
hr{
  margin-top: 15%;

}

/*ANIMACION CUBO 3D*/
.animacion{
  position: flex;
  width: 100%;
  height: 30%;
  display: inline-block;
  margin-top: 20%;
  -webkit-box-shadow: 0px -2px 0px -1px rgba(255,255,255,1);
  -moz-box-shadow: 0px -2px 0px -1px rgba(255,255,255,1);
  box-shadow: 0px -2px 0px -1px rgba(255,255,255,1);

}
.contenedor, .contenedor2{
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  perspective: 1000px;
  bottom: 8%;
  left: 30%;
}
.contenedor2{
  left: 60%;
}
.cara {
  height: 30px;
  width: 30px;
  transform-style: preserve-3d;
  transition: 2s;
  position: relative;
  animation: rotar 7s infinite linear;
}

.cara .item{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.cara .item-1{
  transform: rotateY(0deg) translateZ(15px);
}
.cara .item-2{
  transform: rotateX(90deg) translateZ(15px);
}
.cara .item-3{
  transform: rotateY(-180deg) translateZ(15px);
}
.cara .item-4{
  transform: rotateY(-90deg) translateZ(15px);
}
.cara .item-5{
  transform: rotateY(90deg) translateZ(15px);
}
.cara .item-6{
  transform: rotateX(-90deg) translateZ(15px);
}
.item a{
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #ccc;
  text-align: center;
  margin: 0;
  background: rgba(0,0,0,.3);
  border-radius: 10px;
  opacity: .8;
}
.item a i{
  margin-top: 7.5px;
  transition: all 1s ease;
}
.cara:hover{
  height: 15px;
  width: 15px;
}
.cara:hover a{
  opacity: 1;
  background: rgba(0,0,0,.8);
}
.cara:hover a i{
  opacity: 0;
}


@keyframes rotar {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}


/*MEDIA QUERY*/

@media screen and (max-width: 800px) {
  .nav a{
    font-size: 20px;
  }
  .img2{
    padding: 0;
  }
  .datos2 {
    text-align: center;
  }
  .datos h2{
    font-size: 20px;
    margin-top: 1%;
  }

  .datos2 p{
    font-size: 13px;
    margin-top: 0;
    text-shadow: 1px 1px 1px black;
  }
  .animacion {
    margin-top: 15%;
  }

  /*.redes a{
    margin: 10px;
    font-size: 20px;
  }
  .datos .redes a{
    font-size: 14px;
  }*/
}
@media screen and (max-width: 700px) {
  /*.datos .redes a{
    font-size: 10px;
  }*/
  .img img{
    margin: 10px;
  }
  .animacion {
    margin-top: 5%;
  }
}

@media screen and (max-width: 400px) {
  .nav a{
    font-size: 17px;
    font-weight: 600;
  }
}
