* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
 	background-blend-mode: normal, multiply;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  min-height: 1000px;
  width: 100%;
}
/*------HEADER-------*/

header {
  text-shadow: 1px 1px 5px black;
}
.parallax-1, .parallax-2{
  background: url(../img/computer.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  opacity: .8;
}
.nav{
  transition: all 0.5s ease-out;
}
.logo-t{
  padding: 10px;
}
.nav a span{
  font-size: 15px;
  text-decoration: none;
  float: right;
  margin-top: 0;
  margin-right: 20px;
}

/*SOBRE MI*/
#sobre-mi{
  margin-top: 2%;
}


.redes{
  position: relative;
  font-weight: bold;
}

.redes a i{
  color: #ccc;
}
.redes a i:hover{
  color: white;
}

.datos{
  border-radius: 3px;
  max-height: 400px;
  overflow: hidden;
  margin: 0 auto;
  background: rgba(0,0,0,.3);
}
.img{
  padding: 20px;
  min-width: 30%;
}
.datos p, .datos2 p{
  font-size: 14px;
  font-family: 'open sans' sans-serif;
}
.datos .titulo{
  text-shadow: .5px .5px 1px black;
  font-family: 'roboto';
  font-size: 25px;
}
.datos2{
  border-radius: 3px;
  min-height: 300px;
  overflow: hidden;
  padding: 20px;
  background: rgba(0,0,0,.3);
}
.datos2 h3{
  margin-top: 1%;
  font-weight: 600;
  font-size: 25px;
  text-shadow: .5px .5px 1px black;
}
.img2{
  padding: 20px;

}
.card-image span{
  padding: 20px;
  font-size: 20px;
}
hr {
  text-decoration: none;
}
.objetivo {
  font-style: italic;
  font-size: 12px;
}


@media screen and (max-width: 800px) {
  .nav a{
    font-size: 20px;
  }
  .img2{
    padding: 0;
  }
  .datos2 {
    text-align: center;
  }
  .datos h2{
    font-size: 20px;
    margin-top: 1%;
  }

  .datos2 p{
    font-size: 13px;
    margin-top: 0;
    text-shadow: 1px 1px 1px black;
  }

  .redes a{
    margin: 10px;
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .nav a{
    font-size: 17px;
    font-weight: 600;
  }
}
